<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jam dan Temperatur Elegan</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-gray-700 h-screen w-screen relative text-white">
      <div class="left-7 top-5 absolute">DevelopByMe</div>
      <div class="right-7 top-5 absolute" id="jam"></div>

      <div
        class="absolute inset-0 flex flex-col justify-center items-center space-y-5"
      >
        <div class="flex flex-row">
          <div class="text-9xl" id="temperatur">{{ temperature }}</div>
          <div class="text-4xl">°C</div>
        </div>

        <p class="underline decoration-double text-5xl">STIKI MALANG</p>
      </div>
      <!-- <footer class="place-content-center bottom-5 absolute">UwU</footer> -->
    </div>

    <script>
      // Fungsi untuk mendapatkan waktu saat ini
      function getWaktuSekarang() {
        const date = new Date();
        const jam = date.getHours().toString().padStart(2, "0");
        const menit = date.getMinutes().toString().padStart(2, "0");
        const detik = date.getSeconds().toString().padStart(2, "0");

        return jam + ":" + menit + ":" + detik;
      }

      // Fungsi untuk memperbarui waktu setiap detik
      setInterval(() => {
        const waktuSekarang = getWaktuSekarang();
        const jam = document.getElementById("jam");
        jam.innerText = waktuSekarang;
        // $("#jam").text(waktuSekarang);
      }, 1000);
    </script>
  </body>
</html>
